<form [formGroup]="addForm">

  <div class="row">
    <div class="col-md-12 ">
      <!--        <img src="assets/pricing-table7.webp" class="img-fluid img-thumbnail" >-->
      <div class="col-md-4">
        <label for="organizationName">Organization Name</label>
        <input class='form-control' id="organizationName" formControlName='organizationName'
               placeholder='Enter Organization Name'/>
        <pre></pre>

        <label for="address">Address</label>
        <input id="address" class='form-control' formControlName='address' placeholder='Enter Address' ngModel/>
        <pre></pre>

        <label for="phone">Phone</label><br>
        <input type="number" id="phone" class='form-control' formControlName='phone' placeholder='Enter Number'
               ngModel/>
        <pre></pre>

        <label for="email">Email</label><br>
        <input type="text" id="email" class='form-control' formControlName='email' placeholder='Enter Email' ngModel/>
        <pre></pre>

        <label for="website">Website</label><br>
        <input id="website" class='form-control' formControlName='website' placeholder='Enter Website' ngModel/>
        <pre></pre>
        <button nbButton Class="btn btn-warning" (click)="addOrganization()">Add Organization</button>
      </div>

    </div>
    <pre></pre>
  </div>
</form>







