<div class="form-box">
  <form [formGroup]="addForm">
    <div class="col-md-12">
      <select class="form-control  form-control-tiny" formControlName="organizationName" id="organizationName">
        <option [value]="null" selected hidden>Organization Name</option>
        <option *ngFor="let org of organizationData"
                [ngValue]="org">
          {{org.organizationName}}
      </select>
    </div>
    <div class="col-md-12 mt-3">
      <label class="form-label" style="color: white; font-size: large">Project Name</label>
      <input type="text"
             id="projectName"
             class='form-control'
             [ngClass]="{ 'is-invalid': submitted && addFormControl['projectName']?.errors, 'is-valid': addFormControl['projectName']?.valid }"
             formControlName='projectName'
             placeholder='Enter ProjectName' ngModel/>
      <span
        *ngIf="submitted || addFormControl['projectName'].touched || addFormControl['projectName'].dirty && addFormControl['projectName'].invalid"
        class="info-msg text-danger">
                <small
                  *ngIf="addFormControl['projectName'].errors && addFormControl['projectName'].errors?.['required']">Project Name is required.</small>
            </span>
    </div>
    <button nbButton Class="btn btn-warning" (click)="addProject()">Add Organization</button>
    <a (click)="open(deleteOption)" data-toggle="tooltip" data-placement="top" title="DELETE"
       style="margin-left:10px">
      <i class="fas fa-trash" style="color:red;"></i>
    </a>
    <ng-template #deleteOption let-c="close" let-d="dismiss">
      <div class="modal-header sb-bg-dark" style="display:block">
        <h4 class="modal-title pull-left text-white text-center" style="font-size: medium">
          Are you sure you want to delete ?
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteApprovalLimit(allList.id)">Yes</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="onClose()">No</button>
      </div>
    </ng-template>
  </form>
</div>
